<a href="https://colab.research.google.com/github/MikeRodziewicz/Udemy_ML_Bootcamp/blob/main/dane_gieldowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
def fetch_financial_data(company='AMZN'):
    """Pobiera dane z serwisu stooq.pl """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2022-04-08 to 2017-04-12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [3]:
df

               Open     High        Low    Close   Volume
Date
2022-04-08  3135.00  3147.37  3084.6150  3089.21  2300083
2022-04-07  3168.00  3201.58  3090.2300  3155.69  3406839
2022-04-06  3233.01  3244.00  3145.0900  3175.12  3952788
2022-04-05  3354.83  3362.21  3265.3201  3281.10  2686428
2022-04-04  3282.50  3367.89  3264.1100  3366.93  2500398
...             ...      ...        ...      ...      ...
2017-04-19   907.84   910.50   897.3690   899.20  2798157
2017-04-18   900.99   909.61   900.7800   903.78  2687708
2017-04-17   887.50   902.38   887.5000   901.99  2698857
2017-04-13   891.45   894.97   884.4900   884.67  3095922
2017-04-12   903.09   904.09   895.2500   896.23  2407868

[1258 rows x 5 columns]

In [4]:
df.columns = [col.lower() for col in df.columns]

In [5]:
df

               open     high        low    close   volume
Date
2022-04-08  3135.00  3147.37  3084.6150  3089.21  2300083
2022-04-07  3168.00  3201.58  3090.2300  3155.69  3406839
2022-04-06  3233.01  3244.00  3145.0900  3175.12  3952788
2022-04-05  3354.83  3362.21  3265.3201  3281.10  2686428
2022-04-04  3282.50  3367.89  3264.1100  3366.93  2500398
...             ...      ...        ...      ...      ...
2017-04-19   907.84   910.50   897.3690   899.20  2798157
2017-04-18   900.99   909.61   900.7800   903.78  2687708
2017-04-17   887.50   902.38   887.5000   901.99  2698857
2017-04-13   891.45   894.97   884.4900   884.67  3095922
2017-04-12   903.09   904.09   895.2500   896.23  2407868

[1258 rows x 5 columns]

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1258.0,2.210920e+03,8.549931e+02,887.50,1.616495e+03,1890.845,3.166565e+03,3.744000e+03
high,1258.0,2.234751e+03,8.654503e+02,894.97,1.634140e+03,1904.400,3.198615e+03,3.773078e+03
low,1258.0,2.184033e+03,8.434337e+02,884.49,1.598028e+03,1869.645,3.124500e+03,3.696793e+03
close,1258.0,2.209716e+03,8.537835e+02,884.67,1.617767e+03,1886.915,3.161358e+03,3.731410e+03
volume,1258.0,4.293470e+06,2.059383e+06,881337.00,2.907546e+06,3696289.500,5.084509e+06,1.655260e+07

In [7]:
df = df.head(10)

In [8]:
df

                open     high        low    close   volume
Date
2022-04-08  3135.000  3147.37  3084.6150  3089.21  2300083
2022-04-07  3168.000  3201.58  3090.2300  3155.69  3406839
2022-04-06  3233.010  3244.00  3145.0900  3175.12  3952788
2022-04-05  3354.830  3362.21  3265.3201  3281.10  2686428
2022-04-04  3282.500  3367.89  3264.1100  3366.93  2500398
2022-04-01  3282.990  3316.54  3246.3900  3271.20  2854475
2022-03-31  3328.895  3329.90  3259.0700  3259.95  2998289
2022-03-30  3370.190  3379.01  3310.0000  3326.02  2808363
2022-03-29  3407.680  3416.63  3357.3700  3386.30  3307680
2022-03-28  3299.500  3380.75  3298.0000  3379.81  2992691

In [10]:
df[['open', 'close']]

                open    close
Date
2022-04-08  3135.000  3089.21
2022-04-07  3168.000  3155.69
2022-04-06  3233.010  3175.12
2022-04-05  3354.830  3281.10
2022-04-04  3282.500  3366.93
2022-04-01  3282.990  3271.20
2022-03-31  3328.895  3259.95
2022-03-30  3370.190  3326.02
2022-03-29  3407.680  3386.30
2022-03-28  3299.500  3379.81

In [13]:
df.iloc[:,[0,3]]

                open    close
Date
2022-04-08  3135.000  3089.21
2022-04-07  3168.000  3155.69
2022-04-06  3233.010  3175.12
2022-04-05  3354.830  3281.10
2022-04-04  3282.500  3366.93
2022-04-01  3282.990  3271.20
2022-03-31  3328.895  3259.95
2022-03-30  3370.190  3326.02
2022-03-29  3407.680  3386.30
2022-03-28  3299.500  3379.81