<a href="https://colab.research.google.com/github/MikeRodziewicz/Udemy_ML_Bootcamp/blob/main/data_science_part_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [ ]:
s = pd.Series(data=[1,2,3,4], index=['a','b','c','d'], name='sample')
s

a    1
b    2
c    3
d    4
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[1,np.nan,3,4], index=['a','b','c','d'], name='sample')
s

a    1.0
b    NaN
c    3.0
d    4.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range('20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
price = pd.Series(data={'Apple': 200, "CDPR": 230, "Lotos": 100})
price

Apple    200
CDPR     230
Lotos    100
dtype: int64

In [ ]:
price[1]

230

In [ ]:
price.value_counts()

200    1
230    1
100    1
dtype: int64

In [4]:
df = pd.DataFrame(data=[11,12,23], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      11
second     12
third      23